html {
    background: lightblue;
}

body {
    width: 80%;
    margin: auto;
    text-align: center;
}

#graph-normal, #graph-logit, #graph-dirichlet {
    margin: auto;
    display: inline-block;
    width: 600px;
    height: 600px;
}

#start {
    margin: auto;
    width: 720px;
    display: block;
}

input {
    display: inline-block;
    margin: auto;
    width: 80%;
}

output {
    width: 40px;
    border: 1px;
}